/**
* Stylesheet for Admin Panel
*/

.my_meta_control{
	position: relative;
	width: 100%;
}

.my_meta_control img{
	float: right;
}

.clearfix{
	clear: both;
}

.nano-admin-icon {
	font-size: 25px;
	vertical-align: sub;
}

.site-options-table tr td{
	vertical-align: top;
}

.site-options-table th label{
	font-weight: normal;
}

.site-options-table textarea{
	height: 120px;
}

.site-options-table select[multiple]{
	height: 150px;
}

.seperator-td{
	padding: 0 !important;
}




/* LIVE CHAT CSS */

.agent_active_checkbox,
.agent_default_checkbox{
	width: auto !important;
}