/**
*	Common CSS
*	made for common CSS rules useful for all types of web development
*
*	@author Mayeenul Islam <wz.islam@gmail.com>
*	revised for the package: GoromGorom
*/
.red{
  color: red;
}
.green{
  color: green;
}
.orange{
  color: orange;
}
.grey{
  color: #666;
}
.alt-border{
	box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
}
.alt-border-red{
	box-shadow: inset 1px -1px 1px red, inset -1px 1px 1px red;
}
.js .hide-if-js{
	display: none;
}
.hide-if-no-js,
.hide-if-no-js-db{
	display: none;
}
.js .hide-if-no-js{
	display: block;
}
.js .hide-if-no-js-db{
	display: inline-block;
}
.behave-table{
	display: table;
	width: 100%;
	height: 100%;
}
.behave-table-cell{
	display: table-cell;
	vertical-align: middle;
}
img{
  max-width: 100%;
  height: auto;
  border: 0;
}
/**
 * Emulating <blink> using WebKit CSS3 animation        
 *   This code is part of John Smith's blog
 *
 * Copyright 2010 by John Smith, All Rights Reserved
 *
 * @link   http://www.john-smith.me/emulating--lt-blink-gt--using-webkit-css3-animation
 * @date   18th October 2010 at 11:01 p.m.
 * @author John Smith
 */
@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
        @keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }

.blink {
   text-decoration:blink;

  -webkit-animation-name:blinker;
          animation-name:blinker;  
  -webkit-animation-iteration-count:infinite;  
          animation-iteration-count:infinite;  
  -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
          animation-timing-function:cubic-bezier(1.0,0,0,1.0);
  -webkit-animation-duration:1s; 
          animation-duration:1s; 
}