/* PRINT CSS */

@import 'dev/lessmixins.less';

body{
	color: #333;
	background: transparent;
}

.content{
	width: 100%;
	padding: 0;
}

.top-head,
#nav-below,
.scroll-area,
#left-sidebar,
#right-sidebar,
.post-edit-link,
#respond,
.image-to-article-link,
.entry-link-icon,
.footer-ul{
	display: none;
}

#site-head{
	border-bottom: 2px solid #ccc;
}

#site-title{
	font-size: 20px;
}

#site-description{
	font-size: 16px;
}

.archive-article{
	border: 1px solid #ccc;
}

.block-read-more{
	.seperator-h{
		display: none;
	}

	.read-more{
		float: right;
		text-align: right;
	}
}

div.comments-area{
	article.comment{
		border: 1px solid #ccc;
	}
}